/* 
FUCK YOU WISEHACK.XYZ YOU STINKY PASTERS CANT EVEN MAKE A SIMPLE BOX IN THE MIDDLE OF THE SCREEN 
LOLOLOLOLOLOLOLOLOLOLOLOLOl
OWNED
- moneybot dev team
 */

@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&amp;display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100;200;300&amp;family=Manrope:wght@200;300;400&amp;family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,900&amp;display=swap');
:root {
    --dark_color: #121212;
    --grey_color: #0d0d0d;
    --accent_color: #e16666;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--dark_color) !important;
    font-family: 'Source Code Pro', monospace !important;
    font-weight: 100 !important;
    line-height: 1.2rem !important;
}

::-webkit-scrollbar {
    width: 3px;
}

 ::-webkit-scrollbar-track {
    background: var(--dark_color);
}

 ::-webkit-scrollbar-thumb {
    background: var(--accent_color);
}

 ::-webkit-scrollbar-thumb:hover {
    background: var(--accent_color);
}

a {
    font-weight: 100 !important;
    font-style: normal !important;
    color: white;
}

a:hover {
    color: var(--accent_color);
}


/* Navbar */

.navbar {
    height: 4.2rem;
    background-color: var(--grey_color) !important;
    border-bottom: 1px solid var(--accent_color);
    border-bottom: 1px solid;
    -webkit-border-image: -webkit-linear-gradient(90deg, rgba(231, 105, 105, 1) 0%, rgba(31, 33, 35, 1) 31%, rgba(31, 33, 35, 1) 66%, rgba(231, 105, 105, 1) 100%);
    -moz-border-image: -moz-linear-gradient(90deg, rgba(231, 105, 105, 1) 0%, rgba(31, 33, 35, 1) 31%, rgba(31, 33, 35, 1) 66%, rgba(231, 105, 105, 1) 100%);
    border-image-source: linear-gradient( 90deg, rgba(231, 105, 105, 1) 0%, rgba(31, 33, 35, 1) 31%, rgba(31, 33, 35, 1) 66%, rgba(231, 105, 105, 1) 100%);
    border-image-slice: 1;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
}

.navbar-expand .navbar-nav {
    flex-direction: row !important;
    justify-content: space-between !important;
}

.navbar-expand .navbar-nav .active {
    color: var(--accent_color) !important;
}

.navbar-expand .navbar-nav a {
    transition: color 0.5s ease;
    line-height: 14px !important;
    font-weight: 200 !important;
    letter-spacing: 0px !important;
    text-transform: capitalize !important;
    color: white !important;
    padding-inline: 2rem !important;
    position: relative !important;
}

.navbar-expand .underline:after {
    content: '' !important;
    position: absolute !important;
    left: 50% !important;
    bottom: -2px !important;
    width: 0px !important;
    height: 2px !important;
    background: var(--accent_color) !important;
    transition: all 0.45s !important;
}

.navbar-expand .underline:hover:after {
    width: 100% !important;
    left: 0 !important;
}

.navbar-expand .navbar-nav a:hover {
    color: var(--accent_color) !important;
}


/* Cards */

.card {
    font-stretch: ultra-expanded !important;
    background-color: #0d0d0d !important;
    text-align: center;
    color: white !important;
    box-shadow: -1px 8px 15px black;
}

.card .card-header {
    background-color: #00000025;
    border-bottom: 1px solid var(--accent_color);
    border-bottom: 1px solid;
    border-image-source: linear-gradient( 90deg, rgba(231, 105, 105, 1) 0%, rgba(31, 33, 35, 1) 31%, rgba(31, 33, 35, 1) 66%, rgba(231, 105, 105, 1) 100%);
    border-image-slice: 1;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
}

.card .card-header-expand {
    background-color: #00000025;
    border-bottom: 1px solid var(--accent_color);
    border-bottom: 1px solid;
    border-image-source: linear-gradient( 90deg, rgba(231, 105, 105, 1) 0%, rgba(31, 33, 35, 1) 31%, rgba(31, 33, 35, 1) 66%, rgba(231, 105, 105, 1) 100%);
    border-image-slice: 1;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
}

.card .card-header-expand:hover {
    background-color: #66666625;
    border-bottom: 1px solid var(--accent_color);
    border-bottom: 1px solid;
    border-image-source: linear-gradient( 90deg, rgba(231, 105, 105, 1) 0%, rgba(31, 33, 35, 1) 31%, rgba(31, 33, 35, 1) 66%, rgba(231, 105, 105, 1) 100%);
    border-image-slice: 1;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
	transition: opacity 0.5s ease !important;
}

.card .card-footer {
    border-top: 1px solid rgb(56, 56, 56);
}

.card .card-footer svg {
    height: 37px;
}

.card .card-footer svg:hover {
    animation: rubberBand 0.9s ease;
}

.card .card-title {
    font-size: 3rem;
    margin-bottom: 3.2rem;
}


/* Discord Widget */

.member_list {
    animation: slidein 0.5s ease;
}

@keyframes slidein {
    from {
        transform: translateX(-100px);
    }
    to {
        transform: translateX(0px);
    }
}

.member-list ul {
    list-style: none;
}

.member-list .member {
    display: flex;
    justify-content: space-between;
    padding: 0.6rem;
    align-items: center;
}

.member-list ul li:nth-child(even) {
    background-color: var(--dark_color);
}

.member-img img {
    height: 30px;
}


/* Buttons */

.btn {
    width: 100%;
    background-color: var(--accent_color) !important;
    color: white !important;
    border: none !important;
    transition: opacity 0.5s ease !important;
}

.btn-ppl {
    width: 10%;
    background-color: var(--accent_color) !important;
    color: white !important;
    border: none !important;
    transition: opacity 0.5s ease !important;
}

.btn:hover {
    opacity: 70%;
}

.btn-ppl:hover {
    opacity: 70%;
}

button {
    border: none !important;
    box-shadow: none !important;
}

button:active {
    border: none !important;
    box-shadow: none !important;
}


/* Waves are cool */

.wave {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.wave svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 58px;
    animation: wave 10s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
    transform: translate3d(0, 0, 0);
}

.wave svg:nth-of-type(2) {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 58px;
    animation: wave 19s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.125s infinite, swell 7s ease -1.25s infinite;
    transform: translate3d(0, 0, 0);
}

.wave .shape-fill {
    fill: #242424;
}


/* Cool Animation Yes Poggers */

@keyframes rubberBand {
    0% {
        transform: scale(1);
    }
    30% {
        transform: scaleX(1.25) scaleY(0.75);
    }
    40% {
        transform: scaleX(0.75) scaleY(1.25);
    }
    60% {
        transform: scaleX(1.15) scaleY(0.85);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes wave {
    0%,
    100% {
        transform: translate3d(0, -25px, 0);
    }
    50% {
        transform: translate3d(0, 0px, 0);
    }
}